#################
## Eclipse
#################

.DS_Store
.github
.vscode
node_modules
test
src
.asf.yaml
.editorconfig
.eslintignore
.eslintrc-common.yaml
.gitattributes
.headerignore
.huskyrc
.jshintrc-dist
.lgtm.yml
.npmignore
CONTRIBUTING.md
package-lock.json
